<body id="page-top" class="landing-page">
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
            <div class="container">
                <a class="navbar-brand" href="index.html">Otten32Run</a>
                <div class="navbar-header page-scroll">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-link page-scroll" href="#page-top">Home</a></li>
                        <li><a class="nav-link page-scroll" href="#features">Tentang Kami</a></li>
                        <!-- <li><a class="nav-link page-scroll" href="#team">Team</a></li> -->
                        <!-- <li><a class="nav-link page-scroll" href="#testimonials">Testimonials</a></li> -->
                        <li><a class="nav-link page-scroll" href="#pricing">Kategori Lari</a></li>
                        <li><a class="nav-link page-scroll" href="#contact">Contact</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="inSlider">
        <b-img src="img/banner44.jpg" fluid-grow alt="Fluid-grow image"></b-img>
    </div>
    
    <section class="features" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>OTTEN32RUN</h1>
                    <p>Otten32Run  merupakan sebuah ajang yang dipersembahkan secara khusus untuk para pecinta lari di Indonesia. Dimana mereka bisa menunjukan performa terbaik mereka tak hanya untuk menjadi juara, melainkan untuk menjadi yang terbaik di KM 3, KM 6 dan di 1 kilometer terakhir. </p>
                </div>
            </div>
            <!-- <div class="row justify-content-center">
                <div class="col-lg-5 col-lg-offset-1 features-text">
                    <small>INSPINIA</small>
                    <h2>Perfectly designed </h2>
                    <i class="fa fa-bar-chart big-icon float-right"></i>
                    <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
                </div>
                <div class="col-lg-5 features-text">
                    <small>INSPINIA</small>
                    <h2>Perfectly designed </h2>
                    <i class="fa fa-bolt big-icon float-right"></i>
                    <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5 col-lg-offset-1 features-text">
                    <small>INSPINIA</small>
                    <h2>Perfectly designed </h2>
                    <i class="fa fa-clock-o big-icon float-right"></i>
                    <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
                </div>
                <div class="col-lg-5 features-text">
                    <small>INSPINIA</small>
                    <h2>Perfectly designed </h2>
                    <i class="fa fa-users big-icon float-right"></i>
                    <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
                </div>
            </div> -->
        </div>
    
    </section>
    <section id="pricing" class="pricing">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Kategori Lari</h1>
                    <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 wow zoomIn">
                    <ul class="pricing-plan list-unstyled">
                        <li class="pricing-title">
                            Kategori Umum
                        </li>
                        <li class="pricing-desc">
                            Individu dan Tim Relay
                        </li>
                        <li class="pricing-price">
                            <span>200k</span>
                        </li>
                        <li>
                            32-36 hours
                        </li>
                        <li>
                            Jakarta
                        </li>
                        <li>
                            Bogor
                        </li>
                        <li>
                            Puncak
                        </li>
                        <li>
                            Cimahi
                        </li>
                        <li>
                            <a class="btn btn-primary btn-xs" href="#">Signup</a>
                        </li>
                    </ul>
                </div>
    
                <div class="col-lg-4 wow zoomIn">
                    <ul class="pricing-plan list-unstyled selected">
                        <li class="pricing-title">
                            Kategori Khusus
                        </li>
                        <li class="pricing-desc">
                            Kriteria Peserta Khusus adalah Keluarga Besar Otten32Run dan Undangan Khusus.
                        </li>
                        <li class="pricing-price">
                            <span>100k</span>
                        </li>
                        <li>
                            32-36 hours
                        </li>
                        <li>
                            Jakarta
                        </li>
                        <li>
                            Bogor
                        </li>
                        <li>
                            Puncak
                        </li>
                        <li>
                            Cimahi
                        </li>
                        <li>
                            <strong>Bandung</strong>
                        </li>
                        <li class="plan-action">
                            <a class="btn btn-primary btn-xs" href="#">Signup</a>
                        </li>
                    </ul>
                </div>
    
                <div class="col-lg-4 wow zoomIn">
                    <ul class="pricing-plan list-unstyled">
                        <li class="pricing-title">
                            Kategori Umum
                        </li>
                        <li class="pricing-desc">
                            Individu dan Tim Relay
                        </li>
                        <li class="pricing-price">
                            <span>200k</span>
                        </li>
                        <li>
                            32-36 hours
                        </li>
                        <li>
                            Jakarta
                        </li>
                        <li>
                            Bogor
                        </li>
                        <li>
                            Puncak
                        </li>
                        <li>
                            Cimahi
                        </li>
                        <li>
                            <a class="btn btn-primary btn-xs" href="#">Signup</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row m-t-lg">
                <div class="col-lg-12 text-center m-t-lg">
                    <p><b>Kategori Umum:</b><br>

                        Registrasi - Pembayaran - Proses Kualifikasi - Tanggal 16 Agustus<br>
                        Pengumuman Peserta - (Refund biaya pendaftaran, bagi pelari yang tidak lolos kualifikasi. 14 hari setelah pengumuman)<br>
                        <b>Kategori Khusus:</b><br>
                        
                        Registrasi Tim - Verifikasi - Tanggal 16 Agustus 2019<br>
                        Pengumuman Tim - Pembayaran dan Input Data se 27 Agustus 2019</p>
                </div>
            </div>
        </div>
        <b-img src="img/SPONSOR.png" fluid-grow alt="Fluid-grow image"></b-img>
    </section>

    
    
    <section id="contact" class="gray-section contact" style="margin-top:-20px">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Contact Us</h1>
                    <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
                </div>
            </div>
            <div class="row m-b-lg justify-content-center">
                <div class="col-lg-3 ">
                    <!-- <address>
                        <strong><span class="navy">Company name, Inc.</span></strong><br/>
                        795 Folsom Ave, Suite 600<br/>
                        San Francisco, CA 94107<br/>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address> -->
                </div>
                <div class="col-lg-4">
                    <!-- <p class="text-color">
                        Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
                    </p> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
                    <p class="m-t-sm">
                        Or follow us on social platform
                    </p>
                    <ul class="list-inline social-icon">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center m-t-lg m-b-lg">
                    <p><strong>&copy; 2020 Otten 32 Run</strong><br/> 
                        <!-- consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde. -->
                    </p>
                </div>
            </div>
        </div>
    </section>
    
</body>
