<body id="page-top" class="landing-page">

    <section class="features mar-bottom" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Otten32Run</h1>
                    <p>Otten 32 Run & Festival Musik dan Kesehatan adalah lomba lari yang digagas FAST (Forum Alumni
                        Satgas Poltekkes Kemenkes Bandung) Learning Centre Bandung</p>
                </div>
            </div>
        </div>
    </section>
    <section id="pricing" class="pricing bg-pricing mar-bottom">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>RACE SCHEDULE</h1>
                </div>
            </div>
            <div class="row justify-content-md-center wow slideInDown">
                <div class="col-lg-6 ">
                    <ul class="pricing-plan list-unstyled selected">
                        <li class="pricing-title">
                            Kampus Keperawatan Poltekkes Kemenkes Bandung
                        </li>
                        <li class="desc-acara">
                            Minggu, 5 April 2020
                        </li>
                        <li class="desc-acara2">
                            05:30 WIB - 08:00 WIB
                        </li>
                        <!-- <li class="desc-acara2">
                            <b>Rute :</b> Jl. Dr.Otten 32 - Hotel Grandia - Wastu Kencana -Sakura Medical - Stasiun
                            Bandung - Rs Melinda 2 - Jl. Dr. Otten 32 <br><br>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>RACEPACK COLLECTION</h1>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-lg-6 wow slideInDown">
                    <ul class="pricing-plan list-unstyled selected">
                        <!-- <li class="pricing-title">
                            Bandung
                        </li> -->
                        <li class="desc-acara2">
                            Rabu – Jum’at, 1 – 3 April 2020
                        </li>
                        <li class="desc-acara">
                            09.00 – 16.00 WIB
                        </li>
                        <li class="desc-acara2">
                            Jl. Dr. Otten No. 32 Bandung <br><br>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="mar-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>RACEMAP</h1>
                    <div class="wow bounceIn">
                        <b-img  src="img/map.png" rounded v-bind="mainProps2" fluid></b-img>
                       
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="mar-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>JERSEY SIZE</h1>
                    <div class="wow bounceIn">
                        <b-img  src="img/jerseysize.png" rounded v-bind="mainProps2" fluid></b-img>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>